* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
}

.timeWrap {
    background: linear-gradient(45deg, white, white 25%, #F0F5FF 25%, #F0F5FF 50%, white 50%, white 75%, #F0F5FF 75%, #F0F5FF) repeat;
    background-size: 16px 16px;
    position: absolute;
    left: 0;
    top: 25px;
    width: 20px;
    z-index: 1;
}

.timeWrap div {
    font-size: 9pt;
    color: darkgrey;
    transform: rotate(-90deg);
    text-align: center;
}

.baseCell {
    position: absolute;
    display: block;
    border: 1px #000 solid;
    margin: -1px 0 -1px;
    overflow: hidden;
    background-color: red;
}

.headerGroupCell {
    composes: baseCell;
    top: 0;
    height: 25px;
}

.headerCell {
    composes: baseCell;
    top: 25px;
    height: 26px;
    background: linear-gradient(white, lightgray 100%);
}

.cell {
    composes: baseCell;
    height: 51px;
}

.row {
    position: relative;
    border-width: 1px 0 1px; /* #000 solid;*/
    border-color: black;
    border-style: solid;
    margin-bottom: -1px;
}

.row:nth-child(even) {
    background: rgba(204, 204, 204, 0.8);
}

.row:nth-child(odd) {
    background: rgba(255, 255, 255, 0.8);
}

.row:last-of-type {
    margin-bottom: 0;
}

.fixedColumn {
    width: 200px;
    position: absolute;
    left: 0;
}

.timeline {
    position: absolute;
    left: 200px;
    overflow: hidden;
    width: calc(100% - 200px);
    /*border-bottom: 0; /*px #000 solid;
    /*background: linear-gradient(90deg, black, black 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0));*/
    /*background-position: 10px;*/
}
