.timelineHeaderRow {
    height: 25px;
    position: relative;
    border-top: 1px #000 solid;
}

.timelineRow {
    height: 50px;
    position: relative;
    border-top: 1px #000 solid;
}

.timelineRow:last-child {
    border-bottom: 1px #000 solid;
}

.timelineRow:nth-child(even) {
    background: #CCC
}

.timelineRow:nth-child(odd) {
    background: #FFF
}

.timelineFixedColumn {
    width: 200px;
    position: absolute;
    left: 0;
}

.timeline {
    position: absolute;
    left: 200px;
    overflow: hidden;
    width: calc(100% - 200px);
}
